@import './node_modules/bootstrap/scss/bootstrap';

ul {
  background-color: theme-color(info);
  list-style-type: none;
}

ul li {
  background-color: theme-color(warning);
  padding: 20px;
  margin: 25px;
  border-color: black;
  border-style: dashed;
  border-width: 2px;
}
